.main-wrapper {
    height: 85vh;
}

.time-container {
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.time-container .time {
    display: flex;
    justify-content: center;
    font-size: 9em;
}

.time-container .time:hover {
    border-bottom: 0.15rem solid #18151C;
    cursor: pointer;
}

.time .m:hover, .s:hover {
    color: #3d0791;
}
